<%= @admin_status %>

<%= @user.name %>
<p>"Height"</p>
<%= @user.height %>
<p>"Mood"</p>
<%= @user.mood %>
<p>"Nausea"</p>
<%= @user.nausea %>
<p>Tickets: <%= @user.tickets %></p>

<%= link_to "See attractions", '/attractions' %>