<h1><%= @attraction.name %></h1>
<h2>Current Stats</h2>
<ul>
  <li>Total Number of Users: <%= @attraction.users.count %></li>
  <li>Ticket Requirement: <%= @attraction.tickets %></li>
  <li>Height Requirement: <%= @attraction.min_height %> inches</li>  
  <li>Nausea Rating: <%= @attraction.nausea_rating %></li>
  <li>Happiness Rating: <%= @attraction.happiness_rating %></li>
</ul>

<% if current_user && current_user.admin %>
  <div><%= link_to "Edit Attraction", edit_attraction_path(@attraction) %></div>
<% else %>
  <div>
    <%= form_for @ride, url: rides_path, method: :post do |f| %>
      
      <input type="hidden" id="ride[user_id]" name="ride[user_id]" value="<%= current_user.id %>" />

      <input type="hidden" id="ride[attraction_id]" name="ride[attraction_id]" value="<%= @attraction.id %>" />	

      <%= f.submit "Go on this ride" %>
    <% end %>
  </div>
<% end %>
